

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #AFDDE5;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #003135;
    color:  white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.title {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Montserrat',sans-serif;
}


.nav-list {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   gap: 20px;
   justify-content: center;
}

.list-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.list-item a:hover {
    color: #003135;
    border-radius: 20px;
    background-color: #AFDDE5;
    width: 30px;
    padding: 10px;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AFDDE5;
    text-align: center;
    height: 70vh;
    
}

.description {
    background-color: #003135;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
}

.description h2 {
    font-size: large;
    margin-bottom: 10px;
    color: white;
}

.description p {
    font-size: medium;
    margin-bottom: 20px;
    color: whitesmoke
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0FA4AF;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #AFDDE5;
    color: #003135;
}